name: Harem Altın Mobil API Çekici

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 */1 * * *' # Her saat başı
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Kodları Çek
        uses: actions/checkout@v3

      - name: Python Kurulumu
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      # Sadece requests yeterli
      - name: Kütüphaneleri Yükle
        run: pip install requests

      - name: Kodu Çalıştır
        run: python main.py

      - name: Kaydet ve Gönder
        run: |
          git config --global user.name 'GitHub Action Bot'
          git config --global user.email 'action@github.com'
          git add .
          git diff --quiet && git diff --staged --quiet || (git commit -m "Mobil veri güncellendi" && git push)
