name: Harem Altın Veri Çekici

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 */1 * * *' # Her saat başı
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Kodları Çek (Checkout)
        uses: actions/checkout@v3

      - name: Python Kurulumu
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Kütüphaneleri Yükle
        run: pip install requests beautifulsoup4

      - name: Python Kodunu Çalıştır
        run: python main.py

      - name: Veriyi Kaydet ve Gönder
        run: |
          git config --global user.name 'GitHub Action Bot'
          git config --global user.email 'action@github.com'
          
          # Tüm değişiklikleri ekle (Dosya adı hatasını önler)
          git add .
          
          # Değişiklik varsa commit yap, yoksa (boşsa) hata verme geç
          git diff --quiet && git diff --staged --quiet || (git commit -m "Otomatik veri güncellendi" && git push)
