name: Harem Altın Veri Çekici

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 */1 * * *' # Her saat başı
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Kodları Çek (Checkout)
        uses: actions/checkout@v3

      - name: Python Kurulumu
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Kütüphaneleri ve Tarayıcıyı Yükle
        run: |
          sudo apt-get install xvfb
          pip install seleniumbase beautifulsoup4
          seleniumbase install chromedriver

      - name: Python Kodunu Çalıştır
        run: xvfb-run python main.py

      - name: Veriyi Kaydet ve Gönder
        run: |
          git config --global user.name 'GitHub Action Bot'
          git config --global user.email 'action@github.com'
          git add .
          git diff --quiet && git diff --staged --quiet || (git commit -m "Ana sayfa verisi güncellendi" && git push)
